img {
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	float: left;
}

figure {
    display: table;
}
img, figcaption {
    display: table-row;
    vertical-align: bottom;
}
figcaption {
    padding-left: 4px;
}

body {
	background-color: white;
}

button {
	background-color: #7F8C8D;
	color: #AED6F1;
	border: none;
	padding: 8px 10px;
	text-align: center;
	display: inline-block;
	border-radius: 8px;
	float: center;
}

button:hover{
	background-color: #F5B7B1;
	color: white;
}
